*{
    box-sizing: border-box;
}


.container1{
	position: relative;
    background-color: rgb(107, 0, 0);
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container1:after{
	content: '';
    background-color: rgb(107, 0, 0);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: rgb(66, 42, 42);
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("media/logo.png") no-repeat center;
	background-size:contain;
	height: 100%;
}

.right{
	padding: 25px 40px;
    
}

h2{
	position: relative;
	padding: 0 0 10px;
    
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
}

.field{
	width: 100%;
	border: 2px solid rgba(0,0,0,0.5);
	outline: none;
	background-color: rgba(0,0,0,0.5);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0,0,0,0.5);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: aqua;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}




html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: rgb(107, 0, 0);
    color: rgb(218, 216, 216);
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}


.contacto{
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(12, 2fr);
    grid-gap:0px;
    padding: 45px 0px;
}
.contacto form{
    display:flex;
    justify-content: center;
    align-items: center;
}

.map {
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:aqua; }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}



#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/zona1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: whitesmoke;
}


#info .container{
    text-align: center;
    padding: 200px 12px;
}

#menu{
    background-color: rgb(37, 35, 35);
    color: whitesmoke;
    text-align: center;
    
}

#menu .container{
    padding: 150px 12px;
}

#menu h2{
    margin-top: 0;
    font-size: 3.2em;
}

#menu p{
    display: none;
}

#menu .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/torta.png");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/cafe.png");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/facturas.png");

}

#caracteristicas .container{
    text-align: center;
    padding: 250px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}



.pie-pagina{
    position: relative;
    left: 0;
    right: 0;
    width: 100%; 
    background-color: rgb(37, 35, 35);
    
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: whitesmoke;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: blackf;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: rgb(107, 0, 0);
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: 6a0000;
    padding: 15px 10px;
    text-align: center;
    color: whitesmoke;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width: 425){
    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/torta-cut.png");
    }

    .contacto{
        display: grid;
        grid-area: auto;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 2fr)
    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/cafe-cut.png");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/facturas-cut.png");

    }

}

@media screen and (max-width: 657px){
    .pie-pagina .grupo-1{
        display: flex;
        width: 90%;
        flex-direction: column;
        grid-gap:0px;
        padding: 0px 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .pie-pagina .grupo-1 .box .figure{
    margin-left:0px;
    padding: 0;
    margin: auto;
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/torta-cut.png");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/cafe-cut.png");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/facturas-cut.png");

    }


}

@media screen and (min-width: 768px){
    header{
        position: sticky;
        width: 100%;
    }
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
            }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    .map {
        margin-top: 25px;
    }

    .contacto{
        grid-template-columns: repeat(2, 1fr);
    }
    #hero h1{
        font-size: 5em;
    }

    #info .container{
        display: flex;
        justify-content: space-evenly;
    }

    #info .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #info h2{
        margin-top: 0px;
    }

    #info .img-container{
        background-image: url("media/logo.png");
        background-size:cover;
        background-position: center center;
        height: 300px;
        width: 400px; 
    }

    #menu .programas{
        display: grid;
        grid-area: auto;
        justify-content: center;
        align-items: center;
    }

    #menu p{
        display: block;
        margin-bottom: 0px;
    }

    #menu h2{
        font-size: 4em;
    }

    #menu h3{
        margin-top: 0;
    }

    #menu .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/torta-cut.png");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/cafe-cut.png");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("media/facturas-cut.png");

    }
}



@media screen and (min-width: 1024px){
    #menu .programas{
        display: grid;
        grid-area: auto;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr)
    }
}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}